# Python Review #1

Using what you learned in the modules, answer the questions below. Take your time and use all the information in the modules as your guide and resource. This isn't about memorization - this is about practicing skills! Good Luck!

## Module 1 Review

#### COMMENTS

Comments are not executed with the rest of the code when you run the cell. These are notes that give context to the code.

1. Open any book, document, brochure, email around you. Take the first two sentences you find. Write the two sentences in a cell below. Assign one sentence to a variable name (save it as a string) and make the other sentence a comment. Run the cell. 
2. Switch the sentences (the first sentence is now a comment, the second sentence is now the string) and re-run the cell.

In [1]:
str = "your monthly statement is now available"

In [2]:
#Bank of America monthly statement email

In [3]:
str = "Bank of America monthly statement email"
#your monthly statement is now available

print(str)

Bank of America monthly statement email

#### DATA TYPES 

There are three data types that we will use continuously - integer, float, string. Each cell below includes one of these three data types. Using a comment, write the type of data in each cell next to the value.

In [4]:
"Hello" #String

'Hello'

In [5]:
156 #Integer

156

In [6]:
"W45" #String

'W45'

In [7]:
12.567 #Float

12.567

In [8]:
"198 Spring Street, San Deigo, CA" #String

'198 Spring Street, San Deigo, CA'

In [9]:
1.87 #Float

1.87

In [10]:
0.00000435 #Float

4.35e-06

In [11]:
"628" #Integer

'628'

In [13]:
1.111111114 #String

1.111111114

In [14]:
4560886543 #Integer

4560886543

#### VARIABLES

Variables hold information or a data value. To assign a value to a variable, use a single "=". Variables should be given meaningful names, can start with a letter or underscore (no numbers), and should follow <b>CamelType</b> or <b>snake_type</b> formatting. 

1. Write your birthday in longform (Month Day, Year) and save the value to a variable. Choose an appropriate name. 
2. Write the name of your favorite book. Save the value to a variable. Choose an appropriate name. 
3. Write the number of times you've eaten pizza in the past two weeks (0 can be an answer). Save the value to a variable. Choose an appropriate name. 
4. Write a float value with at least three digits after the decimal point. Save the value to a variable. Choose an appropriate name.
5. Pick two additional sentences from the item referenced in the comments section. Write out the sentences and save them to a variable. Choose an appropriate name.

In [19]:
BDAY = "October 12 1993"

In [20]:
Book = "Playboy"

In [21]:
P = "Two times"

In [22]:
F = 3.1415

In [23]:
Variableduo = "October 12 1993 Playboy"

In [24]:
print(Variableduo)

October 12 1993 Playboy

#### PRINT AND TYPE FUNCTIONS

The print function is crucial to your python knowledge. The print() function allows you to return a specific item, statement, word, number, etc. It is used to return (print, output, etc) information. Using all the variables you created in the step above, print each one in an individual cell. 

The type function allows you to return the type of data saved to a specific variable. Use the type() function to determine the type of data stored to each of your variables.

In [26]:
BDAY = "October 12 1993"

type(BDAY)

str

In [27]:
Book = "Playboy"

type(Book)

str

In [28]:
P = "Two times"

type(P)

str

In [29]:
F = 3.1415

type(F)

float

#### ARITHMETIC OPERATORS

Arithmetic operators allow you to do simple math with Python. Operators include: 

    +  : addition
    -  : subtraction
    *  : multiplication
    /  : division
    %  : modulo (finds the remainder of a division)
    ** : exponent
    // : floor division
    
In the cells below, insert any of the above operators to complete the equation. Print the result of the equation.

In [30]:
9 + 2

11

In [31]:
189.0 - 78

111.0

In [32]:
3 * 2

6

In [33]:
3 / 8

0.375

In [34]:
999.0027 % 2736.83

999.0027

In [35]:
488 ** 21

286296647198568771733609157020113746343214564499561381888

In [36]:
11 // 8

1

In [37]:
45 // 9

5

In [38]:
808 % 23

3

In [39]:
4 + 1

5

In [40]:
0 % 28

0

In [41]:
435 % 982

435

In [42]:
6 * 3

18

In [43]:
1 // 1.5

0.0

In [44]:
65 * 2

130

In [45]:
10 / 9

1.1111111111111112

In [46]:
245 / 3

81.66666666666667

In [47]:
33 * 0

0

In [48]:
9 / 2

4.5

In [49]:
89 % 78

11

#### COMPOUND OPERATORS

Change the value of a variable and re-assign the new value to the same variable. This method saves you a step; all compound operators follow the same pattern:
    
    variable_a = variable_a + 10 <<<--->>> variable_a += 10
    
variable_a is now equal to the original value of variable_a plus 10. Compound operators include:

    +=  : a = a + b
    -=  : a = a - b
    *=  : a = a * b
    /=  : a = a / b
    %=  : a = a % b
    **= : a = a ** b
    //= : a = a // b
    
Convert all the equations below to use compound operators.

In [12]:
9 // 2

a = 9
a //= 2
print(a)

4

In [7]:
189.0 + 78

a = 189.0
a += 78
print(a)

267.0

In [8]:
3 - 2

a = 3
a -= 2
print(a)

1

In [10]:
5 + 1

a + 5
a += 1
print(a)

1

In [11]:
8 * 0

a * 8
a *= 0
print(a)

0

In [9]:
4 % 1

a = 4
a %= 1
print(a)

0

In [13]:
5 // 2

a // 5
a //= 2
print(a)

2

In [14]:
6 / 3

x = 6
x /= 3
print(x)

2.0

In [15]:
9 * 2

x = 9
x *= 2
print(x)

18

In [16]:
10 - 1

x = 10
x -= 1
print(x)

9

In [17]:
5 ** 4

x = 5
x **= 4

print(x)

625

In [18]:
8 - 2

x = 8
x -= 2

print(x)

6

In [19]:
10 + 2

x = 10
x += 2

print(x)

12

In [20]:
11 * 1.7

x = 11
x *= 1.7

print(x)

18.7

In [21]:
9 - 3

x = 9
x -= 3
print(x)

6

In [22]:
7 ** 4

x = 7
x **= 4
print(x)

2401

In [23]:
11 % 2

x = 11
x %= 2
print(x)

1

In [24]:
8 / 4

x = 8
x /= 4
print(x)

2.0

In [25]:
5 * 5

x = 5
x *= 5
print(x)

25

In [26]:
7 % 5

x = 7
x %= 5
print(x)

2

In [27]:
8 ** 5

x = 8
x **= 5
print(x)

32768

In [28]:
12 // 3

x = 12
x //= 3
print(x)

4

#### ESCAPE CHARACTERS

An escape character allows you to include special characters in a string that would otherwise return an error. To use escape characters, add a backslash (\) before the character you want to escape:

    " \ " use a single backslash to add apostrophe's in strings 
    " \n " use to insert new lines in your strings
    " \t " use to insert tab spaces into your strings
    
Fix the code below to insert the correct escape character into the string.

In [62]:
print('Hello, what\s up?')

Hello, what\s up?

In [81]:
print(f" Hello, \n I wish the first hello was on its own line!")

 Hello,
 I wish the first hello was on its own line!

In [82]:
print(f" Hello \t I wish there was a long space after the first Hello.")

 Hello 	 I wish there was a long space after the first Hello.

#### FORMATTED STRINGS PT 1

Formatted strings allow you to return strings with specific formatting. A formatted string uses the following code to product output that looks a certain way:

    {}  : a place holder

The placeholder is used to insert the value of a specific variable into the string. All you need to do is insert the name of the variable and whatever value is assigned to that variable will show up when you print the statement. Complete the code in the cells below to print out the proper formatted strings.

In [83]:
x = "Jasmine"

## complete the code below to print the statement "Hello, [name]!"

print(f"Hello {x}")

Hello Jasmine

In [85]:
x = "Cat"

## complete the code below to print the statement "My favorite animal is a Cat"

print(f"My favorite animal is a {x}")

My favorite animal is a Cat

In [87]:
x = "Tom Hanks"

## complete the code below to print the statement "My favorite actor is Tom Hanks"

print(f"my favorite actor is {x}")

my favorite actor is Tom Hanks

In [89]:
x = "Black"
y = "White"

## complete the code below to print the statement "Let's play chess, which color do you want to be? Black or White?"

print(f"Let's play chess, which color do you want to be? \n {x} or {y}")

Let's play chess, which color do you want to be?
 Black or White

In [91]:
a = "Paris"
b = "Dublin"
c = "Bristol"

## complete the code below to print the statement "The three cities I visited during my vacation were Paris, Bristol, and Dublin."

print(f"The three cities I visited during my vacation were \n {a} \n {b} \n {c}")

The three cities I visited during my vacation were
 Paris
 Dublin
 Bristol

# FORMATTED STRINGS PT 2

Formatted strings allow you to return strings with specific formatting. A formatted string uses the following code to product output that looks a certain way:

    ,   : shows commas in thousands place
    .2f : shows 2 digits after the decimal point
    .2% : shows 2 digits after the decimal point in percentage (%)

The numeric formatting options allow you to return a number with a specific format. Typically, this includes adding a comma in the thousands place and truncating the amount of digits found after a decimal point. Complete the following questions in the cells below:

1. Print the following number with commas and 1 number after the decimal: 49792862.39231
2. Print the following number with commas and 3 number after the decimal: 3999876.009
3. Print the following number as a percentage with 2 numbers after the decimal: .03974
4. Print the following number with commas: 1000000000000000000
5. Write the code to produce this output: 7, 890.00
6. Write the code to product this output: 567.00045
7. Print the following number with commas and no numbers after the decimal: 3450000

In [98]:
num = 49792862.39231
 
res = '{:,.1f}'.format(num)
print(res)

49,792,862.4

In [99]:
num = 3999876.009
 
res = '{:,.3f}'.format(num)
print(res)

3,999,876.009

In [100]:
num = .03974
 
res = '{:,.2%}'.format(num)
print(res)

3.97%

In [101]:
res = f'{1000000000000000000:,}'.replace('.',',')
print(res)

1,000,000,000,000,000,000

In [103]:
num = 7890.00

res = "{:,.2f}".format(num)

print(res)

7,890.00

In [104]:
num = 567.00045

res = "{:.5f}".format(num)

print(res)

567.00045

In [ ]:
num = 3450000

res = "{:,}".format(num)

print(res)

#### INPUT FUNCTION 

The input function directly asks the user (you) for information. 

    input(tell the user what you want them to do!)
    
1. Use the input() function to find a users name
2. Use the input() function to find a users address
3. Use the input() function to find a users phone number
4. Use the input() function to find a users age
5. Using a formatted string, put all this information together and print a statement using what you learned about the user.

In [1]:
## i'll get you started...

info = []

info.append(input("what's your name?:"))
info.append(input("what's your address?:"))
info.append(input("what's your phone number?:"))
info.append(input("what's your age?:"))

print(info)

what's your name?:aj
what's your address?:14128 beechvue ln. silver spring. MD. 20906
what's your phone number?:240 481 0321
what's your age?:29
['aj', '14128 beechvue ln. silver spring. MD. 20906', '240 481 0321', '29']

#### DATA TYPE CONVERSION FUNCTIONS

You can convert data to various types using three built-in functions. 
* the int() function turns a value into an integer
* the float() function turns a value into a float
* the str() function turns a value into a string

Complete the code below to make the necessary changes.

In [2]:
x = "187"

### convert x into a float value

float(x)

187.0

In [4]:
y = 123.56

### convert y into a string value

str(y)

'123.56'

In [5]:
z = 99

### convert z into a float value 

float(z)

99.0

# { Module 1 Quiz }

1. Print out your favorite snack and write a comment about what you are doing in the code. 
2. Print the sum of the following values: 3, 56, 21, 11, 7, 0, 5
3. Print the remainder of the values 435 and 6
4. Create a variable called 'eye color' and store your eye color to the variable. Print a sentence describing your eye color and using the variable in the sentence. 
5. Write a code to get two integers from a user. Print out their sum.

In [11]:
#Print out your favorite snack and write a comment about what you are doing in the code.
Snack = "doritos"

print(Snack)

doritos

In [12]:
#Print the sum of the following values: 3, 56, 21, 11, 7, 0, 5
sum = 3 + 56 + 21 + 11 + 7 + 0 + 5
print(sum)

103

In [13]:
#Print the remainder of the values 435 and 6

remainder = 435 % 6
print(remainder)

3

In [17]:
#Create a variable called 'eye color' and store your eye color to the variable. Print a sentence describing your eye color and using the variable in the sentence.
x = "black"

print(f"the color of my eyes are {x}")

the color of my eyes are black

In [6]:
#Write a code to get two integers from a user. Print out their sum.

import random as rand

num = (1,100)

int1 = int(input("type your first number:"))
int2 = int(input("type your second number:"))

print(int1 + int2)

type your first number:56
type your second number:67
123

## Module 2 Review

#### IMPORTING LIBRARIES

A library is a specific collection of python functions. You can use these functions by first importing the library into your notebook. Once you import your library, you can give it a nickname. The nickname is optional, but it makes it easier to use (or reference) the library throughout your code. 

    import [ library name ]
    
Importing a library and assigning a nickname:

    import [ library name ] as [ nickname ]
    
Import the library "random" and nickname it "rd".

In [2]:
import random as rand

num1 = int(input("type your first number:"))
num2 = int(input("type your second number:"))

a = rand.randint(num1,num2)
b = rand.randint(num1,num2)

print(f"{a}-{b}")

type your first number:25
type your second number:30
27-29

#### RANDOM NUMBER GENERATOR

The random library contains a function that allows you to generate a random number. This library has two functions that are useful:

    .random() : this will generate a random number 
    .randint() : this will generate a random integer within a specific range
    
When you want to use the function, you first have to reference the name of your library (or it's nickname) and then attach the function to the end of the library name. For example:

    rd.random()
    rd.randint() 
    rd.randint(0, 10) >>> this code will generate a random number between 0 and 10 

1. Generate a random number
2. Generate a random integer
3. Generate a random integer between 1 and 100
4. Generate a random integer between -10 and 10

In [9]:
# Generate a random number
import random as rd
rd.random()

0.32228380877654583

In [12]:
# Generate a random integer between 1 and 100
rd.randint(1,100)

96

In [13]:
# Generate a random integer between -10 and 10
rd.randint(-10,10)

4

#### LEN FUNCTION

The len() function returns the length of a given value. This includes the length of a string, the amount of characters is a sentence (which also counts white spaces), the number of items in a list, etc. Complete the code below to determine the length of the following items. Before you run the code, try to guess what the length value is going to be.

In [15]:
### what is the length of the following string:

len("Hello")

5

In [16]:
### what is the length of the following string:

len("123ABC")

6

In [17]:
### what is the length of the following string:

len("Hello, how are you doing today?")

31

In [18]:
### what is the length of the following string:

len("Hello, it's really nice to meet you! I hope you're well!")

56

In [19]:
### what is the length of the following string:

len(" ")

1

#### STRING METHODS

There are several functions that are used specifically with strings. The most important functions to remember are:
    
<b> Change the Case </b>
    
    .title() >> change a string to title case
    .upper() >> change a string to upper case
    .lower() >> change a string to lower case
    
<b> Remove White Spaces from a String </b>

    .strip() >> strip white spaces from both ends of a string
    .rstrip() >> remove white spaces from the right-side of a string
    .lstrip() >> remove white spaces from the left-side of a string
    
<b> Replace a value in a String with another value</b>

    .replace() >> replace a specific character with another character
    .replace([what you want to replace], [what to replace it with])
    
Complete the code below to practice the above string methods.

In [34]:
name = "gEOrGe washINGtoN"

## change the above string to title case

str.title(name)

'George Washington'

In [35]:
yelling = "HELLO WHAT ARE YOU DOING!"

## change the above string to lowercase

str.lower(yelling)

'hello what are you doing!'

In [36]:
book = "the great gatsby"

## change the above string to title case
str.title(book)

'The Great Gatsby'

In [37]:
city = "nEW york"

## change the above string to uppercase

str.upper(city)

'NEW YORK'

In [38]:
quote = "        Not all those who wander are lost.         "

## strip the above string of white space on each side 

str.strip(quote)

'Not all those who wander are lost.'

In [39]:
quote = "        Not all those who wander are lost.         "

## strip the above string of white spaces on the left side

str.lstrip(quote)

'Not all those who wander are lost.         '

In [40]:
quote = "        Not all those who wander are lost.         "

## strip the above string of white spaces on the right side

str.rstrip(quote)

'        Not all those who wander are lost.'

In [31]:
speech = "4 score and seven years ago..."

## in the above string, replace the value of "4" with the word "four"

speech = "4 score and seven years ago..."
new_speech = speech.replace("4","four")
print(new_speech)

four score and seven years ago...

In [32]:
speech = "Four score and seven years ago..."

## in the above string, replace the word of "seven" with the value "7"

new_speech = speech.replace("7", "seven")
print(new_speech)

Four score and seven years ago...

In [33]:
speech = "Four score and seven years ago..."

## in the above string, replace the "..." with a single period

In [34]:
new_speech = speech.replace("...", ".")
print(new_speech)

Four score and seven years ago.

#### INDEXING A STRING

Strings are ordered sequences of characters and each character has a number associated with it. 

Indexing allows you to access individual characters in a string (or other ordered data types like a list) directly by using a numeric value, that numeric value is associated with a character/position in the string. 

In python, indexing is zero-based, meaning, the first character in the string has an index of 0, followed by 1, then 2, etc. See below for an example of how index values are associated with a string:

    H[0]e[1]l[2]l[3]o[4]![5]
    
index value of 0 returns the character "H"
index value of 1 returns the character "e"
index value of 2 returns the character "l"
index value of 3 returns the character "l"
index value of 4 returns the character "o"
index value of 5 returns the character "!"

Complete the code below to practice indexing a specific string.

In [35]:
## run this cell to define the variable 'words'
## determine the length (how many characters) of the passage 

words = "To be, or not to be, that is the question..."

len(words)

44

In [36]:
## index the variable 'words'
# what character is in position 0?

words[0]

'T'

In [37]:
## index the variable 'words'
# what character is in position 15?

words[15]

'o'

In [38]:
## index the variable 'words'
# what character is in position 9?

words[9]

' '

In [41]:
## index the variable 'words'
# what character is in position 39?

words[39]

'o'

#### CUSTOMIZED FUNCTIONS 

Python allows you to create your own unique functions. This gives you a lot of flexibility on the tasks you can automate within your code. You can create a function to do practically anything -- print a single value, add two numbers together, remove white spaces from a string, etc. 

* A custom function begins with the keyword <b>def</b> and followed by a function name (of your choice). 
* The function may take argument(s) as input within the opening and closing parentheses, just after the function name and following by a colon. 
* After defining the function name and argument(s) a block of program statement(s) start on the next line and these statement(s) must be indented. Please note, adding arguments within the parentheses is optional!

When you are defining a function, follow these steps:

     def function_name(argument1, argument2, ...) :
          statement_1
          statement_2

Complete the code below to define a series of functions.

In [42]:
# EXAMPLE #
## define a function that takes one number and prints the number

def print_num(num):
    print(num)

## call the function
## this function takes one argument, so you have to give the function info

print_num(10)

10

In [43]:
# EXAMPLE #
## define a function that generates one number and prints the number

def print_num_b():
    num = int(input("Enter a number: "))
    print(num)

## call the function
## this function takes no arguments, therefore, we can call the function without giving information first

print_num_b()

Enter a number: 10
10

In [54]:
## define a function that takes two numbers and adds them together
def num_sum():
    
    num1 = int(input("enter the first number:"))
    num2 = int(input("enter the second number:"))
    
    print(num1 + num2)
    
num_sum()

## call the function below
## this function takes two arguments, so you have to give the function info

enter the first number:11
enter the second number:12
23

In [55]:
## define a function that generates two numbers and adds them together

def print_nums_b():
    num1 = int(input("Enter a number: "))
    num2 = int(input("Enter another number: "))
    print(num1 + num2)
    


print_nums_b()

## call the function below
## this function takes no arguments, therefore, we can call the function without giving information first

Enter a number: 20
Enter another number: 30
50

In [64]:
## define a function that takes a string and changes the case to uppercase

def uppercased(string):
    string = string.upper()
    print(string)
    
uppercased("sun and moon")
    
## call the function below
## this function takes one argument, so you have to give the function info

SUN AND MOON

In [5]:
## define a function that asks a user for two numbers then multiplies those numbers together

def multi(x, y):
    x = int(input("enter a number for x:"))
    y = int(input("enter a number for y:"))
    print(x * y)
    
multi("x","y")

## call the function below
## this function takes two arguments, so you have to give the function info

enter a number for x:11
enter a number for y:22
242

In [7]:
## define a function that asks a user for two numbers then multiplies those numbers together

def multi_b():
    x = int(input("Enter a number: ")) 
    y = int(input("Enter another number: "))
    print(x * y)
    
multi_b()

## call the function below
## this function takes no arguments, therefore, we can call the function without giving information first

Enter a number: 33
Enter another number: 34
1122

# { Module 2 Quiz }

1. Convert "890" to an integer data type
2. Get two numbers from a user. Use these two numbers as the starting and ending number when generating a random integer. Run the code to produce a random integer within this range.
3. Remove the whitespaces from the ends of the following string: "   What is your name   ?"
4. After you remove the whitespaces from the above string, index the string to find the character in position 3.
5. Define a function that asks a user for three numbers. Add the first two numbers together. Then, multiply the sum of the first two numbers with the third number. After you define the function, use it!

In [8]:
int(890)
print(int)

<class 'int'>

In [9]:
# Convert "890" to an integer data type
int(890)

890

In [15]:
# Get two numbers from a user. Use these two numbers as the starting and ending number when generating a random integer. 
#Run the code to produce a random integer within this range.

import random as rand

num1 = int(input("enter the first number:"))
num2 = int(input("enter the second number:"))

x = rand.randint(num1,num2)
y = rand.randint(num1, num2)

print(f"{x}-{y}")

###SAMPLE###

#import random as rand

#num1 = int(input("type your first number:"))
#num2 = int(input("type your second number:"))

#a = rand.randint(num1,num2)
#b = rand.randint(num1,num2)

#print(f"{a}-{b}")

enter the first number:11
enter the second number:45
38-17

In [18]:
#Remove the whitespaces from the ends of the following string: " What is your name ?"

word = " What is your name ?"
str.strip(word)
print(word)

 What is your name ?

In [19]:
#After you remove the whitespaces from the above string, index the string to find the character in position 3.

word[3]

'a'

In [37]:
#Define a function that asks a user for three numbers. Add the first two numbers together. 
#Then, multiply the sum of the first two numbers with the third number. 
#After you define the function, use it!

def add_and_multiply(x, y, z):
    
    x = int(input("enter the first number:"))
    y = int(input("enter the second number:"))
    z = int(input("enter the third number:"))
    
    sum = x + y
    result = sum * z
    return result

add_and_multiply("x","y","z")

enter the first number:11
enter the second number:12
enter the third number:13

299

## Module 3 Review

#### COMPARISON AND BOOLEAN OPERATORS

Comparison operators compare two values to each other and return a result based on that comparison (either true or false). The comparison operators you have available are as follows:

    == : equal to
    != : not equal to
    >  : greater than
    <  : less than
    >= : greater than or equal to
    <= : less than or equal to
    
For example, x = 10 and y = 14, see below for the following comparison results:

       x == y >> FALSE
       x != y >> TRUE
       x > y >> FALSE
       x < y >> TRUE
       x >= y >> FALSE
       x <= y >> TRUE
    
1. Create 5 conditions that produce a FALSE result
2. Create 5 conditions that produce a TRUE result

In [14]:
#Create 5 conditions that produce a FALSE result 

condition = int(input("enter a number between 1 to 10: "))
def false_result(statement):
    if statement > 10 or statement < 10:
        print("false")
    elif statement >= 10:
        print("false")
    elif statement <= 10:
        print ("false")
    elif statement == 10:
        print("false")
    elif statement != 10:
        print("false")
    else:
        print("every condition in this code is false")
        
false_result(condition)

enter a number between 1 to 10: 100000
false

In [20]:
#Create 5 conditions that produce a TRUE result

condition = int(input("enter whatever number you like: "))
def true_result(statement):
    if statement > 1000000000000 or statement < 1000000000000:
        print("true")
    elif statement >= 1000000000000:
        print("true")
    elif statement <= 1000000000000:
        print ("true")
    elif statement == 1000000000000:
        print("true")
    elif statement != 1000000000000:
        print("true")
    else:
        print("every condition in this code is true")
        
true_result(condition)

enter whatever number you like: 21314124234
true

#### CONDITIONAL STATEMENTS

Conditional statements check a statement for truth and executes a specific task depending on if the statement is true or false. Conditional statements include:

    IF >> if 
    ELSE >> else
    ELIF >> else if

#### IF STATEMENTS

The IF statement checks a statement for truth, if the statement is true a specific task will be executed

1. Run the code in the first example
2. Create your own IF statement that prints a number if it is higher than 100
3. Create an IF statement that adds 10 to a number if it is higher than 100; print the sum of the two numbers.

In [31]:
## EXAMPLE

age = 28

if age > 18:
    print("You are older than 18.")

You are older than 18.

In [32]:
#Create your own IF statement that prints a number if it is higher than 100

number = 120

if number > 100:
    print(number)

120

In [33]:
#Create an IF statement that adds 10 to a number if it is higher than 100
#print the sum of the two numbers.

number = 110

if number > 100:
    print(number+10)

120

#### IF/ELSE STATEMENTS

The IF/ELSE statements (when used together), checks a statement for truth - if the statement is true, the task underneath the IF statement will execute. If the statement if false, the task underneath the ELSE statement will execute.

1. Run the code in the first example
2. Create your own IF/ELSE statement that prints a number if it is higher than 100; if it is lower than 100, print "Low Number". 
3. Create an IF/ELSE statement that adds 10 to a number if it is higher than 100; if it isn't higher than 100, add 100 to the number. Print the sum of the two numbers.

In [34]:
## EXAMPLE

age = 8

if age > 18:
    print("You are older than 18.")
else:
    print("You are younger than 18.")

You are younger than 18.

In [56]:
#Create your own IF/ELSE statement that prints a number if it is higher than 100; 
#if it is lower than 100, print "Low Number".

number = 100

if number > 100:
    print(number)
else:
    print("Low Number")

Low Number

In [60]:
#Create an IF/ELSE statement that adds 10 to a number if it is higher than 100; 
#if it isn't higher than 100, add 100 to the number. 
#Print the sum of the two numbers.

number = 120

if number > 100:
    print(number + 10)
else:
    print(number + 100)

130

#### ELIF STATEMENTS

The ELIF statement is short for "ELSE IF" and is a combination of the above statements. ELIF checks another statement for truth (after the initial IF statement) -- if the statement if true, the tasks underneath the ELIF statement will execute. 

1. Run the code in the first example
2. Create your own IF/ELIF/ELSE statement that prints a number if it is higher than 100; if the value is equal to 100 - print "100". If both statements are false, print "less than 100").
3. Create an IF/ELIF/ELSE statement that adds 10 to a number if it is higher than 100; if the number is greater than 50 -- add 20 to the number. If none of the above are true, add 100 to the number. Print the sum of the two numbers.

In [61]:
## EXAMPLE

age = 18

if age > 18:
    print("You are older than 18.")
elif age == 18:
    print("You ARE currently 18!")
else:
    print("You are younger than 18.")

You ARE currently 18!

In [ ]:
#Create your own IF/ELIF/ELSE statement that prints a number if it is higher than 100; 
#if the value is equal to 100 - print "100".
#If both statements are false, print "less than 100").

In [72]:
value = int(input("enter a number: "))
def number(statement):
    if statement > 100:
        print(statement)
    elif statement == 100:
        print("100")
    elif statement < 100:
        print("less than 100.")
    else:
        print("enter another number. ")
        return(f"make sure it's more than 100 this time. ")
number(value)

enter a number: 95
less than 100.

#### LISTS

Lists are a unique data type within Python. Lists are ordered and changeable -- which means you can index a list and you can add/remove values from a list. A list is a collection of values all saved together into a single variable. Lists can contain multiple data types within a single list. All values within a list are separated by a comma. Lists are defined by square brackets. 

    list_name = [value1, value2, value3...]
    
Complete the code below to define a series of lists.

In [2]:
## add two values to the following list of flowers
# print the list

flowers = ["Rose", "Lily", "Poppy", "Sunflower", "Gumamela"]
print(flowers)

['Rose', 'Lily', 'Poppy', 'Sunflower', 'Gumamela']

In [3]:
## fix the code below to define a list of names
# print the list

names = ["Jack", "Max", "Leo", "Harper", "Sam"]
print(names)

['Jack', 'Max', 'Leo', 'Harper', 'Sam']

In [4]:
## use the space below to create a blank list
# print the list to make sure its blank

list = []
print(list)

[]

#### LIST INDEXING AND SLICING

Indexing a list works similarly to indexing a list - you are specifically asking to see the value within a specific location. A list index is still zero-based. See below for a list of colors. Next to each color is the index value.

    colors = [red-0, yellow-1, blue-2]

To index, you will state the name of your list and then within square brackets, specify the location you want to see. 

    colors[0] >> "red-0"
    colors[1] >> "yellow-1"
    colors[2] >> "blue-2"
    
Slicing a list returns a specific segment of the list instead of just returning a specific value in a specific index position. Slicing will return all the values of a list from a starting index location up to (<b>but not including</b>) an ending index location. Slicing uses square brackets and follows the pattern below:

    list_name[starting point : ending point]
    
Slicing will literally give you a slice of the list. See below for an example using the colors list. 

    colors[0:2] >> red-0, yellow-1
    colors[0:3] >> red-0, yellow-1, blue-2
    
1. Create a list of objects you find around your house. Have at least 6 values in the list. Print the list. 
2. What value is at position 4 in your list?
3. What value is at position 0 in your list?
4. Slice your list so you return all values except for the last two.

In [23]:
#Create a list of objects you find around your house. Have at least 6 values in the list. Print the li
my_list = ["glass-0", "door-1", "broom-2", "slippers-3", "chair-4", "table-5"]

In [25]:
#What value is at position 4 in your list?
print(my_list[4])

chair-4

In [26]:
#What value is at position 0 in your list?
print(my_list[0])

glass-0

#### ADDING VALUES TO A LIST

Lists are changeable, which means you can add values to a list after you have defined the list initially. 

The .append() function will add a single value to the end of your list. This function can only add one value at a time, and it will always attach to the end. To use the function, see an example below:

    list_name.append( new_item_to_add )
    
    colors.append("green-3")
    
The .insert() function will add a single value to a specific index-position within your list. Unlike the append function, this means the item your adding won't automatically be attached to the end. To use the function, see an example below:

    list_name.insert( index-position, new_item_to_add )
    
    colors.insert(0, "green-3")

The .extend() function allows you to add multiple values to a list at one time. This is the function to use if you don't want to add values one by one. To use the function, you first have to create a separate list of the values you want to add. Then, you will use the .extend() function to add all the values on the list onto the end of the existing list. See below for an example:

    new_list = ["new_value1", "new_value2", "new_value3"...]
    list_name.extend( new_list )
    
    
    new_colors = ["green-3", "purple-4"]
    colors.extend(new_colors)
    
1. Create a list of shapes below. This list should have at least 3 values. Print the list. 
2. Use the append function to add a shape to your list. Print the list.
3. Use the insert function to add a shape to your list. This shape should be inserted in index position 2. Print the list.
4. Use the extend function to add 3 additional shapes to your list. Print the list.

In [30]:
#Create a list of shapes below. This list should have at least 3 values. Print the list.

shape_list = ["circle", "rectangle", "square", "diamond"]
print(shape_list)

['circle', 'rectangle', 'square', 'diamond']

In [31]:
#Use the append function to add a shape to your list. Print the list.

shape_list.append("triangle")

print(shape_list)

['circle', 'rectangle', 'square', 'diamond', 'triangle']

In [32]:
#Use the insert function to add a shape to your list. 
#This shape should be inserted in index position 2. Print the list.

shape_list.insert(5, "rhombus")

print(shape_list)

['circle', 'rectangle', 'square', 'diamond', 'triangle', 'rhombus']

In [33]:
#Use the extend function to add 3 additional shapes to your list. Print the list.

new_shape_list = ["pentagon", "hexagon", "octagon"]

shape_list.extend(new_shape_list)

print(shape_list)

['circle', 'rectangle', 'square', 'diamond', 'triangle', 'rhombus', 'pentagon', 'hexagon', 'octagon']

# { Module 3 Quiz }

1. Create 3 conditions that produce a false result. Create 3 conditions that produce a true result.
2. Ask the user for a specific color and store the value into a variable. If the color is Blue, print "Blue is a calming color". If the color is Red, print "Red is a fiery color". Otherwise, print "All colors are beautiful".
3. Create a list of 5 fictional characters. Print the list. 
4. Ask the user for a specific number between 1 and 10. If the number is less than 3, print 'low value'. If the number is greater than 7, print 'high number'. Otherwise, print 'thank you'.
5. Create a function that determines if a student passed or failed a test. Ask the user for their test score, if the value is below 70, print 'You failed'. If the value is 70 or above, print 'You passed'. If the value is above 100 or below 0, print 'Please enter a valid number'.

In [36]:
#Create 3 conditions that produce a false result.

if 3 > 10:
    print("false")
elif 4 > 5:
    print("false")
elif 4 == 10:
    print("false")
else:
    print("all these condtions are false results")

false

In [1]:
#Create 3 conditions that produce a true result.
if 3 < 10:
    print("true")
elif 4 > 5:
    print("true")
elif 4 == 4:
    print("true")
else:
    print("all these condtions are true results")

true

In [4]:
#Ask the user for a specific color and store the value into a variable. 
#If the color is Blue, print "Blue is a calming color". 
#If the color is Red, print "Red is a fiery color". Otherwise, print "All colors are beautiful".

condition = str(input("enter a color of your choice: "))

def user_color(choice):
    if choice == "blue":
        print("blue is a calming color")
    elif choice == "red":
        print("red is a fiery color")
    else:
        ("All colors are beautiful.")
        
user_color(condition)

enter a color of your choice: red
red is a fiery color

In [5]:
#Create a list of 5 fictional characters. Print the list

fictional_characters = ["goku","vegeta","trunks","gogeta","broly"]

print(fictional_characters)

['goku', 'vegeta', 'trunks', 'gogeta', 'broly']

In [8]:
#Ask the user for a specific number between 1 and 10. 
#If the number is less than 3, print 'low value'. 
#If the number is greater than 7, print 'high number'. Otherwise, print 'thank you'.

import random as rand

num = rand.randint(1,10)

condition = int(input("enter a number between 1 to 10 "))

def user_choice(number):
    if number < 3:
        print("low value")
    elif number > 7:
        print("high number")
    else:
        print("thank you")
        return ("come again another day")

user_choice(condition)

enter a number between 1 to 10 7
thank you

'come again another day'

In [15]:
#Create a function that determines if a student passed or failed a test. 
#Ask the user for their test score, if the value is below 70, print 'You failed'. 
#If the value is 70 or above, print 'You passed'. 
#If the value is above 100 or below 0, print 'Please enter a valid number'.

condition = int(input("enter a grade for the student: "))

def student_pass_or_fail(score):
    if score < 70:
        print("YOU FAILED!")
    elif score > 70:
        print("YOU PASSED!")
    elif score > 100 or score < 0:
        print("Please enter a valid number.")
    else:
        print("Study hard.")
        return( "Consistency is Key!")
    
student_pass_or_fail(condition)

enter a grade for the student: -10
YOU FAILED!

## Advanced Review

Complete the exercises below. These exercises cover topics from all the modules covered in the class thus far, not just the items reviewed in this notebook. Each exercise should be completed in its own cell (or multiple cells). 

*****************************

1.	Create a program that asks the user to enter their name and their age. Print out a message addressed to them that tells them the year that they will turn 100 years old.
2.	Ask the user for a number. Depending on whether the number is even or odd, print out an appropriate message to the user.
3.	Take a list and write a program that prints out all the elements of the list that are less than 5. BONUS: Instead of printing the elements one by one, make a new list that has all the elements less than 5 from this list in it and print out this new list.
4.	Generate a random number between 1 and 9 (including 1 and 9). Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right. BONUS: Keep the game going until the user types exit
5.	Write a program that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) and makes a new list of only the first and last elements of the given list.
6.	Write a password generator in Python. Be creative with how you generate passwords - strong passwords have a mix of lowercase letters, uppercase letters, numbers, and symbols. The passwords should be random, generating a new password every time the user asks for a new password.

In [2]:
#Create a program that asks the user to enter their name and their age. 
#Print out a message addressed to them that tells them the year that they will turn 100 years old

In [22]:
name = input("What is your name? ")
age = int(input("How old are you? "))

year = 1993 + age + 71

print(f"Hello {name}, you will turn 100 in {year}.")

What is your name? aj
How old are you? 29
Hello aj, you will turn 100 in 2093.

In [3]:
#Ask the user for a number. 
#Depending on whether the number is even or odd, print out an appropriate message to the user.

import random as rand

x = rand.randint(1,10)

def number_choice(num):
    if num % 2 == 0 :
        print(num)
        print("this is a even number.")
    else:
        ("this is a odd number.")
        
number_choice(x)

8
this is a even number.

In [8]:
# Take a list and write a program that prints out all the elements of the list that are less than 5. 
# BONUS: Instead of printing the elements one by one, 
# make a new list that has all the elements less than 5 from this list in it and print out this new list.

#Take a list, say for example this one: a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
#and write a program that prints out all the elements of the list that are less than 5.
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
    if i < 5:
        print(i)

#Instead of printing the elements one by one, make a new list that has all the elements less than 5 from
#this list in it and print out this new list.
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = []
for i in a:
    if i < 5:
        b.append(i)
print(b)

#Write this in one line of Python. 
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = []
[b.append(i) for i in a if i < 5]
print(b)

1
1
2
3
[1, 1, 2, 3]
[1, 1, 2, 3]

In [2]:
#Generate a random number between 1 and 9 (including 1 and 9). 
#Ask the user to guess the number, then tell them whether they guessed too low, too high, or exactly right. 
#BONUS: Keep the game going until the user types exit

import random

number = random.randrange(1, 10)
guess = 0
count = 0

#!= means NOT EQUAL TO

while guess != number and guess != "exit":
    guess = input("Please guess a number between 1 and 9. When you want to end the game print exit: ")

    if guess == "exit":
        print("Game Over")
        break
        
# += operator is a convenient way to add a value to a variable. It is often used in loops and other repetitive code.

    guess = int(guess)
    count += 1
    if guess not in range(1, 10):
        print("You have to guess a number between 1 and 9!")
    elif guess < number:
        print("You've guessed too low!")
    elif guess > number:
        print("You've guessed too high!")
    else:
        if count == 1:
            print("You rock! You've got it at the first try!")
        elif count <= 3:
            print("Well done! You've got it in just {} tries".format(count))
        elif count > 3:
            print("You've got it! It took you {} tries!".format(count))

Please guess a number between 1 and 9. When you want to end the game print exit: 9
You rock! You've got it at the first try!

In [18]:
#Write a program that takes a list of numbers (for example, a = [5, 10, 15, 20, 25]) 
#and makes a new list of only the first and last elements of the given list.

list = [1,2,3,4,5,6,7,8]

def first_last(input_list):
    return [input_list[0], input_list[7]]

print(first_last(list))

[1, 8]

In [15]:
#Write a password generator in Python. 
#Be creative with how you generate passwords - strong passwords have a mix of lowercase letters, uppercase letters, numbers, and symbols. 
#The passwords should be random, generating a new password every time the user asks for a new password.

import random as rand

# Define the alphabet
alphabet = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()"

# Fix the length of the password
password_length = 8

# Generate a password
password = "".join(random.choice(alphabet) for _ in range(password_length))

# Print the password
print(password)

rwedMA*(

In [16]:
#I can do it this way too

import random as rand

# Define the alphabet
alphabet = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789"

# Get the length of the password
length = int(input("Enter the length of the password: "))

# Generate the password
password = ""
for i in range(length):
    password += random.choice(alphabet)

# Print the password
print(password)

Enter the length of the password: 20
2fogxtf2reqVsLWISM44